{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link href="css/style.css" rel="stylesheet">
  <script src="https://unpkg.com/htmx.org@1.9.11"
    integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
    crossorigin="anonymous"></script>
</head>

<body>
  <!-- <div id="count"> -->
  <!--   {{ template "count" .Data}} -->
  <!-- </div> --i
  <!-- <button hx-post="/count" hx-target="#count">Count</button> -->

  {{ template "form" .Form }}
  <hr />
  {{ template "display" .Data }}

  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      document.body.addEventListener('htmx:beforeSwap', (evt) => {
        // 422 is the status code for unprocessable entity
        // if we get a 422, we want to swap the content
        // but we don't want to show the error message
        if (evt.detail.xhr.status === 422) {
          evt.detail.shouldSwap = true
          evt.detail.isError = false
        }
      })
    })
  </script>
</body>

</html>
{{ end }}

{{ block "count" .Data }}
Count {{ .Count }}
{{ end }}

{{ block "form" .}}
<form hx-post="/contacts" hx-swap="outerHTML">
  name: <input {{ if .Values.name }} value="{{ .Values.name }}" {{ end }} type="text" name="name">
  email: <input {{ if .Values.email }} value="{{ .Values.email }}" {{ end }} type="text" name="email">

  {{ if .Errors.email}}
  <div style="color: red">{{ .Errors.email }}</div>
  {{ end }}

  <button type="submit">Create Contact</button>
</form>
{{ end }}

{{ block "display" . }}
<div id="contacts" style="display: flex; flex-direction: column">
  {{ range .Contacts }}
  {{ template "contact" . }}
  {{ end }}
</div>
{{ end }}

{{ block "contact" .}}
<div>
  Name: <span>{{ .Name }}</span>
  Email: <span>{{ .Email }}</span>
</div>
{{ end }}

{{ block "oob-contact" .}}
<div hx-swap-oob="afterbegin" id="contacts">
  {{ template "contact" . }}
</div>
{{ end }}
